.card {
    /*
    max-width: 540px;*/
    border: none;
    background-color: black;

}

.cardbody {
    max-width: 320px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: flex;


}

.two>.row {
    background-color: black;
}

h5 {
    color: #FFC326;
}

h6 {
    color: white;
}

body {
    color: black;
}

.card-title-up {
    color: #FFC326;
    text-align: center;
    font-size: 40px;

}

.card-text-up {
    color: white;
    text-align: center;
    font-size: 30px;
}

.buttonX {
    color: #FFC326;
}

.mainBody {
    margin-top: 10vh;
    margin-bottom: 6vh;
}

@media (max-width: 576px) { 
.mainBody {
    margin-bottom: 16vh;
    margin-top: 113px;
}
.card-title-up  {
    font-size: 25px;
    display: none;
}
.card-text-up {
    font-size: 20px;
}
.bighide2 {
    display: none;
}
}

@media (max-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991px) { 
    .card-title-up  {
        font-size: 25px;
    }
    .card-text-up {
        font-size: 20px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 

 }  */